:root[data-theme="dark"] {
  --brand-primary: #db00ff;
  --brand-secondary: #05f300;
  --fg-contrast: #f3f3f3;
  --fg-match-bg: #290049;
  --fg-always-dark: #290049;
  --fg-always-light: #f8f8f8;
  --bg-default: #151515;
  --bg-dip: #C5B7B7;
  --bg-gradient-1: #5F4696;
  --bg-gradient-2: #773B73;
  --bg-gradient-3: #AE92AC;
}