:root {
  --brand-primary: #DB00FF;
  --brand-secondary: #05F300;
  --fg-contrast: #290049;
  --fg-match-bg: #f8f8f8;
  --bg-default: #f8f8f8;
  --bg-dip: #CFCECE;
  --bg-gradient-1: #F6DAF6;
  --bg-gradient-2: #F6DDC6;
  --bg-gradient-3: #FFF4D7;
}