:root {
  --brand-primary: #DB00FF;
  --brand-secondary: #05F300;
  --fg-contrast: #151515;
  --fg-match-bg: #f8f8f8;
  --bg-default: #f8f8f8;
  --bg-dip: #CFCECE;
  --bg-gradient-1: #FADEFF;
  --bg-gradient-2: #E8FFE8;
  --bg-gradient-3: #E9ECD9;
  --bg-gradient-4: #E6F0F9;
}