:root {
  --hero-font-family: Epilogue;
  --hero-font-weight: Bold;
  --hero-line-height: 108%;
  --hero-font-size: 70px;
  --hero-letter-spacing: 0%;
  --hero-paragraph-spacing: 0;
  --hero-paragraph-indent: 0px;
  --hero-text-case: none;
  --hero-text-decoration: none;
  --subtitle-font-family: Inter;
  --subtitle-font-weight: Semi Bold;
  --subtitle-line-height: AUTO;
  --subtitle-font-size: 20px;
  --subtitle-letter-spacing: 0%;
  --subtitle-paragraph-spacing: 0;
  --subtitle-paragraph-indent: 0px;
  --subtitle-text-case: none;
  --subtitle-text-decoration: none;
  --label-font-family: Inter;
  --label-font-weight: Semi Bold;
  --label-line-height: AUTO;
  --label-font-size: 12px;
  --label-letter-spacing: 0%;
  --label-paragraph-spacing: 0;
  --label-paragraph-indent: 0px;
  --label-text-case: none;
  --label-text-decoration: none;
  --body-1-font-family: Inter;
  --body-1-font-weight: Regular;
  --body-1-line-height: AUTO;
  --body-1-font-size: 16px;
  --body-1-letter-spacing: 0%;
  --body-1-paragraph-spacing: 0;
  --body-1-paragraph-indent: 0px;
  --body-1-text-case: none;
  --body-1-text-decoration: none;
  --body-2-font-family: Inter;
  --body-2-font-weight: Regular;
  --body-2-line-height: AUTO;
  --body-2-font-size: 14px;
  --body-2-letter-spacing: 0%;
  --body-2-paragraph-spacing: 0;
  --body-2-paragraph-indent: 0px;
  --body-2-text-case: none;
  --body-2-text-decoration: none;
  --h5-font-family: Inter;
  --h5-font-weight: Bold;
  --h5-line-height: AUTO;
  --h5-font-size: 24px;
  --h5-letter-spacing: 0%;
  --h5-paragraph-spacing: 0;
  --h5-paragraph-indent: 0px;
  --h5-text-case: none;
  --h5-text-decoration: none;
  --h4-font-family: Inter;
  --h4-font-weight: Bold;
  --h4-line-height: AUTO;
  --h4-font-size: 32px;
  --h4-letter-spacing: 0%;
  --h4-paragraph-spacing: 0;
  --h4-paragraph-indent: 0px;
  --h4-text-case: none;
  --h4-text-decoration: none;
  --h3-font-family: DM Serif Text;
  --h3-font-weight: Italic;
  --h3-line-height: AUTO;
  --h3-font-size: 48px;
  --h3-letter-spacing: 0%;
  --h3-paragraph-spacing: 0;
  --h3-paragraph-indent: 0px;
  --h3-text-case: none;
  --h3-text-decoration: none;
  --h2-font-family: Inter;
  --h2-font-weight: Bold;
  --h2-line-height: AUTO;
  --h2-font-size: 48px;
  --h2-letter-spacing: 0%;
  --h2-paragraph-spacing: 0;
  --h2-paragraph-indent: 0px;
  --h2-text-case: none;
  --h2-text-decoration: none;
  --h1-font-family: DM Serif Text;
  --h1-font-weight: Regular;
  --h1-line-height: 100%;
  --h1-font-size: 90px;
  --h1-letter-spacing: 0%;
  --h1-paragraph-spacing: 0;
  --h1-paragraph-indent: 0px;
  --h1-text-case: none;
  --h1-text-decoration: none;
  --button-label-font-family: Inter;
  --button-label-font-weight: Bold;
  --button-label-line-height: AUTO;
  --button-label-font-size: 18px;
  --button-label-letter-spacing: 0%;
  --button-label-paragraph-spacing: 0;
  --button-label-paragraph-indent: 0px;
  --button-label-text-case: none;
  --button-label-text-decoration: none;
}